body {
  background-image: url("https://iicybersecurity.files.wordpress.com/2015/05/darket-what-is.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.relative {
    position: relative;
  top: 440px;
  left: 530px;
   
}
