body {
  background-image: url("https://pixabay.com/static/uploads/photo/2015/12/24/09/14/deep-web-1106648_960_720.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
